<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
                <a href="/home/index1" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Câu 1
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/home/index2" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Câu 2
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->