@{
    ViewBag.Title = "Index2";
}
<link href="~/Content/assets/styles/dropzoneStyle.css" rel="stylesheet" />

@section naviheader {
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/home/index2" class="nav-link" style="font-size: larger;">Câu 2</a>
        </li>
    </ul>
}


<section class="content">
    <div class="text-center" style="display: flex; align-items: center; justify-content: center; height: fit-content;">
        <form class="dropzone-box" style="width: 50%;">
            <h2>Tải file lên</h2>
            <p>
                Chọn tập tin cần giải mã
            </p>
            <div class="dropzone-area" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <div class="file-upload-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                         stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                    </svg>
                </div>
                <p>Click to upload or drag and drop</p>
                <input type="file" required id="upload-file" name="uploaded-file" accept=".txt">
                <p class="message">Không có file được chọn</p>
            </div>
            <div class="dropzone-actions">
                <button type="reset">
                    Cancel
                </button>
                <button id="submit-button" type="submit">
                    Upload
                </button>
            </div>
        </form>
    </div>
    <div class="col" style="margin-top:20px">
        <div class="text-center">
            <input type="file" id="fileInput" accept=".txt" style="display:none;" />
            <button id="openFileExplorer" class="btn btn-primary">Chọn file Kprivate</button>
        </div>

        <div class="form-group" style="height: 100px">
            <label for="KsKey">Khoá Kprivate:</label>
            <textarea type="text" class="form-control r-12" id="KsKey" name="KsKey" style="resize:none"></textarea>
            <small class="text-danger" id="invalidKeyMessage" style="display:inherit;">Khóa không hợp lệ</small>
        </div>
        <div class="text-center">
            <button class="btn btn-primary">Kiểm tra</button>
        </div>
    </div>
    <div class="col">
        <div class="form-group" style="height: 300px">
            <label for="Kx">Ks sau khi giải mã bằng Kprivate:</label>
            <textarea type="text" class="form-control r-12" id="Kx" name="Kx" readonly style="height: 90%; resize: none"></textarea>
        </div>
    </div>
    <div class="text-center" style="margin-bottom:10px; margin-top:30px">
        <button class="btn btn-primary">
            Tải file đã được giải mã
        </button>
    </div>
</section>

@section scripts{
    <script>
        document.getElementById('openFileExplorer').addEventListener('click', function () {
            document.getElementById('fileInput').click();
        });

        document.getElementById('fileInput').addEventListener('change', function (event) {
            var file = event.target.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var content = e.target.result;
                    document.getElementById('KsKey').value = content;
                };
                reader.readAsText(file);
            }
        });
    </script>
}